.header {
    background-color: #1b1c17;
    color: white;
}

.dropdown-menu {
    background-color: #23261b;
}
.dropdown-item:hover {
    background-color: #1b1c17;
}
.dropdown-item {
    color: black;
}