<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/master.css">
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="d-flex justify-content-center align-items-center h-100 text-white gap-5">

      <div onclick="window.location='/products';" class="p-2 rounded-3 pointer-event card-button">
        <div style="background-color: rgba(20, 20, 23)" class="rounded-2 p-5">
            <div class="fw-bold h1">Products</div>
        </div>
      </div>

      <div onclick="window.location='/categories';" class="p-2 rounded-3 card-button">
        <div style="background-color: rgba(20, 20, 23)" class="rounded-2 p-5">
          <div class="fw-bold h1">Categories</div>
        </div>
      </div>

  </div>
</body>
</html>